/* {
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", sans-serif;
}
*/
* 
{
	font-family: "Trebuchet MS", sans-serif;
}

.cont_price 
{
	width: 290px;
	height: 460px;
	background: white;
	border-radius: 5px;
	box-shadow: 0 0 15px #a8c0cd;
	margin: 0 auto;
	border: 4px solid #EE8129;
}

.cont_price_header 
{
	width: 100%;
	height: 16%;
	margin: 0 auto;
	text-transform: uppercase;
	text-align: center;
	color: white;
	font-weight: bold;
	font-family: sans-serif;
	font-size: 22px;
	background: #EE8129;
	border: 1px solid #EE8129;

}

.cont_price_header_1
{
	height: 15%;
	width: 100%;
	text-transform: uppercase;
	font-size: 22px;
	text-align: center;
	vertical-align: middle;
}

.cont_price_header_1 span
{
	position: relative;
	width: 100%;
	height: 50%;
	vertical-align: middle;
	line-height: 100%;
	display: block;
	margin: 5% auto;
}

.cont_price_center p
{

	font-size: 72px;
	font-weight: bold;
	margin: -10% auto 0 auto;
	text-align: center;
}

.cont_price_center p:before
{
	content: "$";
	font-size: 19px;
	vertical-align: top;
}

.cont_price_center p:after 
{
	content: "Montly";
	font-size: 17px;
	vertical-align: bottom;
}


.cont_price_list
{
	width: 90%; /*260 на 135 */
	height: 30%;
	margin: 0 auto;
	font-weight: bold;
}

.cont_price_list ul {width: 100%;
	height: 30%; /*add for test */
	margin-left: -15%;}

	.cont_price_list li:before 
	{
		content:  url("task2_03.gif");
		margin-right: 15px;
		margin-left: 30px;
	}

	.cont_price_list ul li
	{
		list-style-type: none;
		width: 100%;
		height: 60%;
		text-align: left;
		font-size: 16px;
		color: #91949B;
		line-height: 250%;
	}

	.cont_price_list li:nth-child(2n+1)
	{
		background: #edf5fd;
		border-bottom: 1px solid white;
	}

	.cont_price_list li:nth-child(2n+2)
	{
		background: #f5f5f6;
		border-bottom: 1px solid white;
	}

	.cont_price_btn
	{
		width: 100%;
		height: 10%;
		margin:0 auto;
	}

	.cont_price_btn button
	{
		background: #EE8129;
		margin-left: 5%;
		color: white;
		font-weight: bold;
		width: 90%;
		height: 38px;
		border: 1px solid #EE8129;
		border-bottom: 3px solid #9b4e1c;
		border-radius: 5px;
	}