@import 'nib'
@import 'styl/fonts'
@import 'styl/variables'
@import 'styl/section'
@import 'styl/members'
@import 'styl/member'
@import 'styl/footer'
@import 'styl/header'
@import 'styl/intro'
@import 'styl/team'
@import 'styl/portfolio'
@import 'styl/feedback'
@import 'styl/testimonials'

html
  font-size 16px // 1rem = 16px

body
  margin: 0
  min-width 320px

@media screen and (max-width: 767px)
  html
    font-size 14px
  body
    padding 0
    box-sizing border-box
