.arrow_box 
{
    height: 40px;
    width: 600px;
    min-width: 65%;
    /*background: linear-gradient( to bottom, #FFCD5D , rgb(237, 192, 92));*/
    background: rgba(241,231,103,1);
    background: -moz-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(255,205,93,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(241,231,103,1)), color-stop(100%, rgba(255,205,93,1)));
    background: -webkit-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(255,205,93,1) 100%);
    background: -o-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(255,205,93,1) 100%);
    background: -ms-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(255,205,93,1) 100%);
    background: linear-gradient(to bottom, rgba(241,231,103,1) 0%, rgba(255,205,93,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#ffcd5d', GradientType=0 );
    padding: 5px;
    font-size: 11px;
    font-family: Arial,Helvetica,sans-serif;
   - margin: 50px auto;
    position: relative;
}


.arrow_box:after
{
    content: '';
    border: 15px solid transparent;
    border-top: 25px solid white;
    border-bottom: 25px solid white;
    position: absolute;
    right: -15px;
    top: 0;
}


input[type="text"] 
{
    width: 85%;
    min-width: 30%;
    height: 17px;
    margin-right: 5px;
    margin-bottom: 5px;

}

input.arrow_button
{
    padding: 2px 10px;
    position: absolute;
right: 25px;
}

span
{
    height: 10px;
    margin-top: 5px;
}
span.cl2 
{
    border-bottom: 1px dotted black;
}