h1 
{

	color: orange;
	text-align: right;
}

p:first-letter 
{

	color: red;
	font-size: 30px;

}

em 
{

	color: white;
	background: green;
	font-weight: bold;
}

div#allotment h2 
{

	color: orange;
}

div#warehouse h2 
{

	color: blue;
}

ol.vegetables-list {

	color: red;
}
div#warehouse ol.fruits-list
{

	color: green;
}

div#allotment ol.fruits-list 
{

	color: grey;
}

li 
{

	font-weight: bold;
}

ol li
{

	font-weight: normal;
}

thead
{

	font-weight: bold;
	text-align: center;
}

tbody td 
{

	color: white;
	font-weight: bold;
	background: green;
	text-align: center;
}

tbody td:first-child 
{

	color: orange;
	background: white;
	text-align: left;
	font-weight: normal;
}