@font-face {
    font-family: "MyFont";
    src: url("../fonts/Monotype.com.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "ThinPixel-7";
    src: url("../fonts/thin_pixel-7.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* --- Globals --- */

.game {
    background: #173251;
    font-family: "MyFont";
    opacity: .7;
}

.page--dead {
    background: #520000;
}

.cler {
    clear: both;
}

.button {
    border: 0;
    outline: 0;
    padding: 0;
    font-family: "MyFont";
    font-size: 40px;
    text-transform: uppercase;
    background: transparent;
    color: #000;
    position: fixed;
    left: 50%;
    top: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    cursor: pointer;
    transition: color ease-out 0.3s;
}

.button:hover {
    background-color: #7D7D7D;
}

.button:active {
    color: #111;
}
.button-start-game {
    background-color: #AD3F4D;
    padding: 10px 15px;
    border-radius: 10px;
    margin-top: 40px;
    font-family: "ThinPixel-7";
}

.button-restart,
.button-next-level {
    z-index: 1001;
    font-weight: 600;
    top: 88%;
    display: none;
    font-size: 25px;
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid #fff;
    color: #000;
}

.message {
    color: #fff;
    position: fixed;
    font-size: 30px;
    left: 49%;
    top: 20%;
    overflow: hidden;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    z-index: 2;
}

.message--dead {
    color: #fff;
}

/* --- Intro screen --- */

.intro-screen {
    background: url(../img/bg.png) no-repeat 70% 50%;
    width: 1000px;
    height: 500px;
    box-sizing: border-box;
    position: fixed;
    left: 50%;
    top: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

.intro-screen__title {
    text-align: center;
    font-size: 150px;
    text-transform: uppercase;
    color: red;
    font-family: "ThinPixel-7";
}

.the-bad__img {
    width: 100%;
    height: 100%;
}

/* --- End of inttro screen --- */

.screen {
    display: none;
    background: url(../img/bg.png) no-repeat 70% 50%;
    background-size: cover;
    width: 1000px;
    height: 500px;
    box-sizing: border-box;
    position: fixed;
    left: 50%;
    top: 50%;
    overflow: hidden;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

.creep {
    position: absolute;
    left: 1000px;
    bottom: 85px;
    width: 130px;
    height: 260px;
    z-index: 999;
}

.creep-level-1 {
    background: url(../img/gunman.png) 0 0;
    animation: creep-level-1__walk 1s steps(3) infinite;
}

.creep-level-1__standing {
    background-position: -400px 0;
}

.creep-level-1__shot {
    animation: creep-level-1__draw 0.5s step-start;
    animation-iteration-count: 1;
    background-position: -940px 0;
    width: 135px;
    left: 415px;
}

.creep-level-1__death {
    animation: creep-level-1__death 1s steps(4);
    background-position: -1616px 0;
    width: 128px;
    left: 415px;
}

@keyframes creep-level-1__walk {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -390px 0;
    }
}

@keyframes creep-level-1__draw {
    from {
        background-position: -800px 0;
    }
    to {
        background-position: -940px 0;
    }
}

@keyframes creep-level-1__death {
    from {
        background-position: -1215px 0;
    }
    to {
        background-position: -1750px 0;
    }
}

.creep-level-2 {
    height: 300px;
    width: 130px;
    background: url(../img/gunman.png) 0 -268px;
    animation: creep-level-2__walk 1s steps(3) infinite;
}

.creep-level-2__standing {
    background-position: 0 -268px;
}

.creep-level-2__shot {
    animation: creep-level-2__draw 0.5s step-start;
    animation-iteration-count: 1;
    background-position: -625px -268px;
    width: 110px;
    left: 415px;
}

.creep-level-2__death {
    animation: creep-level-2__death 1s steps(2);
    background-position: -948px -268px;
    left: 415px;
    width: 120px;
}

@keyframes creep-level-2__walk {
    from {
        background-position: 0 -268px;
    }
    to {
        background-position: -410px -268px;
    }
}

@keyframes creep-level-2__draw {
    0% {
        background-position: -410px -268px;
    }
    33% {
        background-position: -520px -268px;
    }
    66% {
        background-position: -625px -268px;
    }
}

@keyframes creep-level-2__death {
    from {
        background-position: -835px -268px;
    }
    to {
        background-position: -1090px -268px;
    }
}

.creep-level-3 {
    height: 320px;
    width: 110px;
    background: url(../img/gunman.png) 0 -578px;
    animation: creep-level-3__walk 1s steps(3) infinite;
}

.creep-level-3__standing {
    background-position: 0 -578px;
}

.creep-level-3__shot {
    animation: creep-level-3__draw 1s step-start;
    animation-iteration-count: 1;
    background-position: -455px -578px;
    left: 415px;
}

.creep-level-3__death {
    animation: creep-level-3__death 0.5s steps(1);
    background-position: -822px -578px;
    width: 130px;
    left: 415px;
}

@keyframes creep-level-3__walk {
    from {
        background-position: 0 -578px;
    }
    to {
        background-position: -330px -578px;
    }
}

@keyframes creep-level-3__draw {
    0% {
        background-position: -822px -578px;
    }
    33% {
        background-position: -710px -578px;
    }
    66% {
        background-position: -455px -578px;
    }
}

@keyframes creep-level-3__death {
    from {
        background-position: -690px -578px;
    }
    to {
        background-position: -822px -578px;
    }
}

.creep-level-4 {
    height: 260px;
    background: url(../img/gunman.png) 0 -910px;
    animation: creep-level-4__walk 1s steps(3) infinite;
}

.creep-level-4__standing {
    background-position: 0 -910px;
}

.creep-level-4__shot {
    animation: creep-level-4__draw 1s step-start;
    animation-iteration-count: 1;
    background-position: -665px -910px;
    left: 415px;
}

.creep-level-4__death {
    animation: creep-level-4__death 0.5s steps(1);
    background-position: -1067px -910px;
    width: 130px;
    left: 415px;
}

@keyframes creep-level-4__walk {
    from {
        background-position: 0 -910px;
    }
    to {
        background-position: -396px -910px;
    }
}

@keyframes creep-level-4__draw {
    0% {
        background-position: -405px -910px;
    }
    33% {
        background-position: -535px -910px;
    }
    66% {
        background-position: -665px -910px;
    }
}

@keyframes creep-level-4__death {
    from {
        background-position: -937px -910px;
    }
    to {
        background-position: -1067px -910px;
    }
}

.creep-level-5 {
    height: 290px;
    width: 135px;
    background: url(../img/gunman.png) 0 -1170px;
    animation: creep-level-5__walk 1s steps(3) infinite;
}

.creep-level-5__standing {
    background-position: 0 -1170px;
}

.creep-level-5__shot {
    animation: creep-level-5__draw 1s step-start;
    animation-iteration-count: 1;
    width: 130px;
    background-position: -650px -1170px;
    left: 415px;
}

.creep-level-5__death {
    animation: creep-level-5__death 0.5s steps(1);
    background-position: -1168px -1170px;
    width: 100px;
    left: 415px;
}

@keyframes creep-level-5__walk {
    from {
        background-position: 0 -1170px;
    }
    to {
        background-position: -396px -1170px;
    }
}

@keyframes creep-level-5__draw {
    0% {
        background-position: -400px -1170px;
    }
    33% {
        background-position: -525px -1170px;
    }
    66% {
        background-position: -650px -1170px;
    }
}

@keyframes creep-level-5__death {
    from {
        background-position: -1038px -1170px;
        width: 130px;
    }
    to {
        background-position: -1168px -1170px;
        width: 100px;
    }
}

.moving {
    left: 415px;
    transition: left 10s linear;
}

.standing {
    left: 415px;
    animation: none;
}



