@import 'variables'

.footer
  padding 2rem 0
  font-family: Roboto, sans-serif
  font-size 1rem
  color: mtc
.footer__title
  font-family Roboto, sans-serif
  font-size 2rem
  font-weight: bold
  color mtc
  text-align center
  margin: 1rem auto

.footer__intro
  text-align center
  margin-top:0
  margin-bottom: 1rem
  color mtc

.footer__list
  margin: 0
  padding: 0
  list-style none

.footer__list-item
  margin-bottom .5rem

.footer__text
  margin: 1rem 0
  color ltc
  font-weight: 300

.footer__contact
  display inline-block
  color mtc
  text-decoration none
  line-height 1.5rem
  box-sizing border-box
  padding 0 .8rem
  border-radius .2rem
  transition tt
  &:hover
    color white
    background-color blue

.footer__sub
  font-size .8rem
  font-weight: 300
  text-align center
  margin-top: 1rem;
