@import 'variables'

.section
  padding 2rem 0

.section_grey
  background-color bg-grey

.section__title
  font-family Roboto, sans-serif
  font-size 2rem
  font-weight: bold
  color mtc
  text-align center
  margin: 1rem auto

.section__description
  font-family Roboto, sans-serif
  font-size 1rem
  text-align center
  margin-top: 0;
  margin-bottom 1rem
  color mtc

@media screen and (max-width: 767px)
  .section
    padding 1rem 0