body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
ul,
li,
form,
input,
textarea {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

.header {
    max-width: 1920px;
    width: 100%;
    height: 78px;
    margin: 0 auto;
}

.header_inner {
    width: 100%;
    height: 78px;
    background-color: #3498db;
    border: 1px solid #3498db;
    box-sizing: border-box;
    color: white;
    margin: 0 auto;
    padding: 0 10%;
}

.cirle_logo {
    border-radius: 50%;
    border: 2px solid white;
    width: 53px;
    height: 53px;
    text-align: center;
    float: left;
    margin: 10px 10px 10px 0;
}

.cirle_logo p {
    font: 400 22px / 53px Helvetica;
}

.text_logo p {
    margin-top: 18px;
}

.text_logo {
    color: #fff;
    text-transform: uppercase;
    font: 400 26px / 42px Helvetica;
    width: 350px;
}

.logo,
.social_net_bl {
    display: inline-block;
}

.logo {
    float: left;
}

.social_net_bl {
    float: right;
}

.social_net_bl {
    margin-top: 25px;
}

.social_net_bl span {
    line-height: 22px;
    height: 22px;
    vertical-align: top;
    color: #fff;
}

@media screen and (max-width: 1000px) and (min-width: 800px) {
    .header_inner {
        width: 800px;
        padding: 0 20px;
    }
}

@media screen and (max-width: 799px) and (min-width: 320px) {
    .header {
        width: 320px;
        height: 160px;
    }
    .header_inner {
        height: 160px;
        min-width: 320px;
        width: 100%;
        padding: 10px;
    }
    .logo,
    .social_net_bl {
        display: block;
    }
    .cirle_logo,
    .logo,
    .social_net_bl {
        float: none;
        margin: 0 auto;
    }
    .text_logo {
        width: 170px;
        margin: 0 auto;
    }
    .text_logo p {
        margin: auto 0;
        font: 400 20px / 42px Helvetica;
        width: 170px;
        text-align: center;
        border-bottom: 1px solid #2A80BC;
    }
    .logo {
        box-sizing: border-box;
        text-align: center;
    }
    .social_net_bl {
        text-align: center;
        margin-top: 10px;
    }
    .social_net_bl span {
        font-size: 13px;
    }
}